.about#about 
    .wrapper 
        .about__content 
            .about__img-block 
                img.about__img(src='img/grossmeister_529x568_2x.png' alt='Изображение гроссмейстер' width='474' height='527' loading='lazy')
            .about__text-block 
                h3.about__title и Сеанс 
                    span.about__title-part одновременной игры в&nbsp;шахматы на&nbsp;160&nbsp;досках 
                    | гроссмейстера О.&nbsp;Бендера
                .about__table
                    include table
                .about__note По&nbsp;всем вопросам обращаться в&nbsp;администрацию к&nbsp;К.&nbsp;Михельсону