.running-line
    .running-line__content 
        span.running-line__guote Дело помощи утопающим — дело рук самих утопающих!
        span.running-line__guote Шахматы двигают вперед не только культуру, но и экономику!
        span.running-line__guote Лед тронулся, господа присяжные заседатели!