.support#support 
    .wrapper.support__wrapper 
        h3.support__title 
            span.support__title-part Чтобы&nbsp;поддержать Международный васюкинский турнир 
            span.support__title-part посетите лекцию на&nbsp;тему: 
            span.support__title-part.support__title-part--theme «Плодотворная дебютная идея»
            img.support__img(src='img/play_chess_394x250_2x.png' alt='Изображение игра в шахматы' width='394' height='250' loading='lazy')
                