.table 
    .table__row
        .table__cell.table__cell--head
            span.table__cell-text.table__cell-text--title Место проведения:
        .table__cell.table__cell--head 
            span.table__cell-text.table__cell-text--description Клуб «Картонажник»
    .table__row 
        .table__cell 
            span.table__cell-text.table__cell-text--title Дата и&nbsp;время мероприятия:
        .table__cell 
            span.table__cell-text.table__cell-text--description 22&nbsp;июня 1927&nbsp;г. в&nbsp;18:00
    .table__row 
        .table__cell 
            span.table__cell-text.table__cell-text--title Стоимость входных билетов:
        .table__cell 
            span.table__cell-text.table__cell-text--description 20&nbsp;коп.
    .table__row 
        .table__cell 
            span.table__cell-text.table__cell-text--title Плата за&nbsp;игру:
        .table__cell 
            span.table__cell-text.table__cell-text--description 50&nbsp;коп.
    .table__row 
        .table__cell 
            span.table__cell-text.table__cell-text--title Взнос на телеграммы:
        .table__cell 
            span.table__cell-text.table__cell-text--description
                span.table__cell-text.table__cell-text--crossed 100&nbsp;руб.
                b.table__semi-b 21&nbsp;руб. 16&nbsp;коп.