.vasuki 
    .wrapper
        h2.vasuki__title 
            span.vasuki__title-part Этапы преображения Васюков 
            span.vasuki__subtitle Будущие источники обогащения васюкинцев
        ul.vasuki__list 
            li.vasuki__item
                .vasuki__item-content
                    span.vasuki__item-number 1 
                    p.vasuki__item-deascription Строительство железнодорожной магистрали Москва-Васюки
                .vasuki__item-content
                    span.vasuki__item-number 2
                    p.vasuki__item-deascription Открытие фешенебельной гостиницы «Проходная пешка» и&nbsp;других небоскрёбов
            li.vasuki__item
                .vasuki__item-content 
                    span.vasuki__item-number 3
                    p.vasuki__item-deascription Поднятие сельского хозяйства в&nbsp;радиусе на&nbsp;тысячу километров: производство овощей, фруктов, икры, шоколадных конфет
            li.vasuki__item
                .vasuki__item-content 
                    span.vasuki__item-number 4
                    p.vasuki__item-deascription Строительство дворца для&nbsp;турнира
                .vasuki__item-content 
                    span.vasuki__item-number 5
                    p.vasuki__item-deascription Размещение гаражей для&nbsp;гостевого автотранспорта
            li.vasuki__item
                .vasuki__item-content.vasuki__item-content--dark-bgr 
                    span.vasuki__item-number 6
                    p.vasuki__item-deascription Постройка сверхмощной радиостанции для&nbsp;передачи всему миру сенсационных результатов
            li.vasuki__item
                .vasuki__item-content.vasuki__item-content--wide.vasuki__item-content--dark-bgr 
                    span.vasuki__item-number 7
                    p.vasuki__item-deascription Создание аэропорта «Большие Васюки» с&nbsp;регулярным отправлением почтовых самолётов и&nbsp;дирижаблей во&nbsp;все&nbsp;концы света, включая Лос-Анжелос и&nbsp;Мельбурн
        .vasuki__controls 
            button.arrow.arrow--left.vasuki__arrow-left.arrow--disabled
            ul.vasuki__slide-indikators-list
                template#slide-indikator(style='display:none')
                    li.vasuki__slide-indikators-item 
            button.arrow.arrow--right.vasuki__arrow-right