/* Media queries */
$width-full-hd: 1920px;
$width-tablet-extra-big: 1280px;
$width-tablet-landscape: 1024px;
$width-tablet-portable: 768px;
$width-mob-big: 480px;
$width-mob-mid: 375px;
$width-mob-small: 320px;

/* Colors */

$color-white: #FFFFFF;
$color-black-base: #1F1F1F;
$color-yellow: #FBCE51;
$color-font-base: #313131;
$color-light-grey: #E9DED4;
$color-grey: #D0D0D0;
$color-grey-disabled: #D6D6D6;
$color-grey-disabled-2: #D9D9D9;
$color-red: #F54932;
$color-blue: #3057A2;
$color-beige: #E9DED4;

/* Colors */


$title-sizes: (
    xxs: (
        desktop: 20px,
        mobile: 16px
    ),
    xs: (
        desktop: 24px,
        tablet: 20px,
        mobile: 16px
    ),
    s: (
        desktop: 28px,
        tablet: 24px,
        mobile: 24px
    ),
    m: (
        desktop: 40px,
        tablet: 32px,
        mobile: 28px
    ),
    l: (
        desktop: 44px,
        tablet: 36px,
        mobile: 24px
    ),
    xl: (
        desktop: 60px,
        tablet: 52px,
        mobile: 40px
    ),
    xxl: (
        desktop: 72px,
        tablet: 60px,
        mobile: 52px
    ),
);

$push-sizes: (
    zero: (
        desktop: 0
    ),
    xxxs: (
        desktop: 8px
    ),
    xxs: (
        desktop: 16px
    ),
    xs: (
        desktop: 24px
    ),
    s: (
        desktop: 32px,
        tablet: 24px,
    ),
    m: (
        desktop: 48px,
        tablet: 32px,
        mobile: 24px
    ),
    l: (
        desktop: 64px,
        tablet: 48px,
        mobile: 48px
    ),
    xl: (
        desktop: 80px,
        tablet: 64px,
        mobile: 40px
    ),
    xxl: (
        desktop: 88px,
        big-tablet: 80px,
        tablet: 60px,
        mobile: 40px
    ),
    xxxl: (
        desktop: 120px,
        big-tablet: 100px,
        tablet: 80px,
        mobile: 72px
    ),
    xxxxl: (
        desktop: 160px,
        big-tablet: 120px,
        tablet: 80px,
        mobile: 72px
    ),
    xxxxxl: (
        desktop: 250px,
        big-tablet: 180px,
        tablet: 120px,
        mobile: 80px
    ),
    xxxxxxl: (
        desktop: 400px,
        big-tablet: 180px,
        tablet: 120px,
        mobile: 80px
    ),
);
