*.bak
*.buildpath
*.cache
*.DS_Store
*.idea
*.vscode
*.log
*.phpproj
*.project
*.puo
*.scc
*.settings
*.suo
*.svn
*.swp
*.vspscc
*.vssscc
.npmrc
.htaccess
.sass-cache
!.gitignore
config.js
api.config.json
bower_components
builds
/data/
gitlog.txt
gulp-aws.json
*.tar.gz
resolve-paths.js
app-config.js
node_modules
output
.idea
.vscode
