doctype html
html(lang="en")
    head
        include includes/head-basic
    body
        link(rel='stylesheet' href='css/style.min.css')

        .general-wrapper
            include layout/header
            include layout/main
            include layout/footer
        script(src='js/script.min.js')
