header.header
    .wrapper
        .header__logo-block 
            img.header__logo(src='img/logo.svg' alt='Логотип Клуб Четерых Коней' width='245' height='36')
        .header__content 
            h1.header__title
                span.header__title-span Превратите уездный город 
                span.header__title-span.header__title-span--center в&nbsp;столицу 
                span.header__title-span.header__title-span--bottom земного шара
            h4.header__subtitle Оплатите взнос на&nbsp;телеграммы для&nbsp;организации Международного васюкинского турнира по&nbsp;шахматам
            .header__cta-block
                a.general-cta.general-cta--black(href='#support') Поддержать шахматную мысль
                a.general-cta.general-cta--blur(href='#about') Подробнее о турнире
        img.header__horse-img(src='img/figure_horse_153x243_2x.png' alt='Фигура шахматного коня' width='196' height='218')
        img.header__pawn-img(src='img/figure_pawn_82x122_2x.png' alt='Фигура шахматной пешки' width='82' height='122')